/* * {
  border: 1px solid gold;
} */
body {
  background-color: grey;
}

.container {
  display: flex;
  padding: 50px;
  justify-content: center;
}

.book {
  display: flex;
  border-radius: 40px;
  flex-direction: column;
  /* justify-content: center; */
  width: 680px;
  height: 900px;
  margin: auto;
  background-image: url('img/alex_ethan.jpg');
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
}

.dad-bubble {
  color: black;
  background-color: transparent;
  height: 440px;
  position: relative;
}

.dad-bubble h3 {
  color: black;
  font-size: 30px;
  width: 500px;
  z-index: 1;

  transform: translateY(-460px) translateX(17%);
  position: absolute;
}

.dad-bubble img {
  transform: translateY(-32%) translateX(3%);
  width: 100%;
  position: relative;
}

.ethan-bubble {
  height: 460px;
  position: relative;
}

.ethan-bubble img {
  float: right;
  padding: 10px;
  width: 65%;
}

.ethan-bubble h1 {
  color: black;
  width: 200px;
  text-align: center;
  align-content: right;
  transform: translateY(20%) translateX(190%);
  position: absolute;
  font-size: 40px;
}

#button {
  z-index: 1;
  position: absolute;
  transform: translateY(700%) translateX(415%);
  font-size: 20px;
  border: 2px solid grey;
  border-radius: 5px;
}

p {
  font-size: 1em;
}

#dad-bubble-image {
  display: none;
}

.animation {
  background: black;
  position: relative;
  animation-name: black-to-white;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes black-to-white {
  0% {
    background: black;
  }
  100% {
    background: ghostwhite;
  }
}
